<div class="container">
    <h1>Game Settings</h1>
        <div>
            <h3 id="pits">Pits</h3>
            <div class="gameGrid" align="center">
                <input type="range" min="2" max="6" value="2" class="slider" id="gridRange" (input)="pits($event)">
                <h2 id="gridSize">{{sliderPit}}</h2>
            </div>
            <h3 id="wumpus">Wumpus</h3>
            <div class="gameGrid" align="center">
                <input type="range" min="2" max="5" value="2" class="slider" id="gridRange" (input)="wumpus($event)">
                <h2 id="gridSize">{{sliderWumpus}}</h2>
            </div>
            <h3 id="gold">Gold</h3>
            <div class="gameGrid" align="center">
                <input type="range" min="2" max="5" value="2" class="slider" id="gridRange" (input)="gold($event)">
                <h2 id="gridSize">{{sliderGold}}</h2>
            </div>
        </div>
    <div class="start" align="center">
        <button class="button-start" (click)="startGame()"><h2 id="start">START</h2></button>
    </div>
</div>