@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@400;600;700;800;900&family=Poppins:wght@400;600;700&family=Ubuntu:wght@700&display=swap');

h1 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #0b62c5;
}

h2 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  color: #004089;
}

h3 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}

h4 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: row;
}

.boardBG {
  height: 700px;
  width: 650px;
  margin: 2% 0 0 10%;
}

.board {
  /* height: 600px;
    width: 550px; */
  margin: 10px auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  /* background-image: url('../../assets/images/wallbroken.png');
  background-repeat: none;
  background-size: contain; */
}

/* .tile{
    height: 70px;
    width: 45px;
    margin: 5px;
  } */

.doors,
.visitedDoors,
.visitedStenchDoors,
.visitedBreezeDoors {
  height: 60px;
  width: 35px;
  margin: 5px 15px 5px 15px;
  background-image: url('../../assets/images/doorGrey.png');
  background-repeat: none;
  background-size: cover;
}

.visitedDoors {
  background-image: url('../../assets/images/safeDoor.png');
}

.visitedStenchDoors {
  background-image: url('../../assets/images/stenchDoor.png');
}

.visitedBreezeDoors {
  background-image: url('../../assets/images/breezeDoor.png');
}
.visitedGoldDoors{
  background-image: url('../../assets/images/goldDoor.png');
}

.visitedPitDoors{
  background-image: url('../../assets/images/pitDoor.png');
}

.visitedWumpusDoors{
  background-image: url('../../assets/images/wumpusDoor.png');
}



.agent {
  height: 50px;
  width: auto;
  margin: 10px auto;
}

.updates {
  height: 500px;
  width: 550px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.73);
  margin: 9% 0 0 5%;
}