@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@400;600;700;800;900&family=Poppins:wght@400;600;700&family=Ubuntu:wght@700&display=swap');

h1 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #0b62c5;
}

h2 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  color: #004089;
}

h3 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}

h4 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#cheatHeading{
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 20px 0 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.boardBG {
  height: 700px;
  width: 650px;
  margin: 2% 0 0 10%;
}

.board {
  /* height: 600px;
    width: 550px; */
  margin: 10px auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.cheatboardBG {
  height: 450px;
  width: 400px;
  margin: 4% 0 0 8%;
}

.cheatboard {
  /* height: 600px;
    width: 550px; */
  margin: 10px auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

/* .tile{
    height: 70px;
    width: 45px;
    margin: 5px;
  } */

.doors,
.visitedDoors,
.visitedStenchDoors,
.visitedBreezeDoors,
.visitedPitDoors,
.visitedGoldDoors,
.visitedWumpusDoors{
  height: 60px;
  width: 35px;
  margin: 5px 15px 5px 15px;
  background-image: url('../../assets/images/doorGrey.png');
  background-repeat: none;
  background-size: cover;
}

.cheatSafedoors,
.cheatBreezeDoors,
.cheatStenchDoors,
.cheatPitDoors,
.cheatGoldDoors,
.cheatWumpusDoors {
  height: 35px;
  width: 20px;
  margin: 5px 10px 5px 10px;
  background-image: url('../../assets/images/cheatSafeDoor.png');
  background-repeat: none;
  background-size: cover;
}

.visitedDoors {
  background-image: url('../../assets/images/safeDoor.png');
}

.visitedStenchDoors {
  background-image: url('../../assets/images/stenchDoor.png');
}

.visitedBreezeDoors {
  background-image: url('../../assets/images/breezeDoor.png');
}
.visitedGoldDoors{
  background-image: url('../../assets/images/goldDoor.png');
}

.visitedPitDoors{
  background-image: url('../../assets/images/pitDoor.png');
}

.visitedWumpusDoors{
  background-image: url('../../assets/images/wumpusDoor.png');
}

.cheatStenchDoors{
  background-image: url('../../assets/images/cheatStenchDoor.png');
}

.cheatBreezeDoors{
  background-image: url('../../assets/images/cheatbreezeDoor.png');
}

.cheatPitDoors{
  background-image: url('../../assets/images/cheatPitDoor.png');
}

.cheatGoldDoors{
  background-image: url('../../assets/images/cheatGoldDoor.png');
}

.cheatWumpusDoors{
  background-image: url('../../assets/images/cheatWumpusDoor.png');
}

.cheatSafedoors{
  background-image: url('../../assets/images/cheatSafeDoor.png');
}



.agent {
  height: 50px;
  width: auto;
  margin: 10px auto;
}

.cheatAgent {
  height: 30px;
  width: auto;
  margin: 6px auto;
}

.updates {
  height: 520px;
  width: 480px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.73);
  margin: 9% 0 0 5%;
}

.leftThings{
  margin: 5% 0 0 5%;
}

.collected{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  margin-top: -7%;
}

.collectedLines{
  color: white;
  margin: 5px 10px 0 5px;
  font-weight: normal;
}

.githubButton{
  background-color: #171515;
  border: #171515;
  padding-top: 5px;
  margin: 20px 0 0 35%;
}


a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.githubButton:active, .githubButton:hover{
  background-color: #171515;
  border: #171515;
}

svg{
  margin-top: -3px;
}